<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="contact-inputs.html">

<dom-module id="add-contact">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <paper-input id="contactName" label="[[_labelName]]" value="[[prefilledName]]"></paper-input>
    <paper-input
        id="contactPhone" 
        label="[[_labelPhone]]"
        value="[[prefilledPhone]]"
        auto-validate 
        pattern="^[0-9]*$"
        error-message="Numbers only!">
    </paper-input>
    
    <paper-button raised on-click="addContact"><iron-icon icon="account-circle"></iron-icon>Add contact</paper-button>
    <paper-button raised on-click="removeList"><iron-icon icon="delete-forever"></iron-icon>Clear contact list</paper-button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AddContact extends Polymer.Element {
      static get is() { return 'add-contact'; }
      static get properties() {
        return {
          _labelName: {
            type: String,
            value: 'Contact name'
          },
          _labelPhone: {
            type: String,
            value: 'Contact phone number'
          }
        };
      }

      addContact() {
        let contactList = JSON.parse(localStorage.getItem('contactlist')) || [];
        let contactInputsObject = this.$.contactInputs;
        
        if(this.$.contactName.value && this.$.contactPhone.value) {
          contactList.push({
            name: this.$.contactName.value, 
            phone: this.$.contactPhone.value
          });

          //Set contactlist in localstorage
          localStorage.setItem('contactlist', JSON.stringify(contactList));
          
          //Fire event when contact is added
          this.dispatchEvent(new CustomEvent('newContactAdded', {bubble: true, composed : true}));
        }
      }

      removeList() {
        // Clear localstorage
        localStorage.clear();
        //Fire clear event when localstorage is empty
        this.dispatchEvent(new CustomEvent('clearList', {bubble: true, composed : true}));
      }
    }

    customElements.define(AddContact.is, AddContact);
  </script>
</dom-module>