<!-- add imports here -->

<dom-module id="show-contact-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- HTML code -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ShowContactList extends Polymer.Element {
      static get is() { return 'show-contact-list'; }
      static get properties() {
        return {
        };
      }
    }

    customElements.define(ShowContactList.is, ShowContactList);
  </script>
</dom-module>